head {
	background-image: url('../images/icon.png');
}

body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 75%;
	margin-bottom: 80px;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
