.places {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 30px;
}

.top_article {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.article_head {
	width: 390px;
	border: solid #FF5A5F 1px;
	border-radius: 4px;
	text-align: center;
	padding: 20px;
	margin: 20px;
	font-size: 20px;
}

.top_article .article_head {
	display: flex;
	flex-direction: column;
}

.top_article .article_info {
	display: flex;
	justify-content: center;
}
